{% extends 'base.html' %}

{% block content %}
    <h1>Student List</h1>
    <form method="GET">
        <input type="text" name="q" placeholder="Search by name..." value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    <a href="{% url 'student_add' %}">Add New Student</a>
    <ul>
        {% for student in students %}
            <li>
                <a href="{% url 'student_detail' student.pk %}">{{ student.first_name }} {{ student.last_name }}</a> - 
                <a href="{% url 'student_edit' student.pk %}">Edit</a>
            </li>
        {% empty %}
            <li>No students found.</li>
        {% endfor %}
    </ul>
{% endblock %}